.container {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

h1 {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.generate-button {
  margin-top: 2vh;
  font-size: 1em;
}

.cell {
  padding: 3vw;
  border-color: black;
  border-width: 1vmin;
}

.red1, .red2, .red3, .red4, .red5, .red6, .red7, .red8 {
  background-color: red;
}

.blue1, .blue2, .blue3, .blue4, .blue5, .blue6, .blue7, .blue8 {
  background-color: blue;
}

.white1, .white2, .white3, .white4, .white5, .white6, .white7, .white8 {
  background-color: white;
}

.black1 { 
  background-color: black;
}

.wildcard1 {
  background-color: chartreuse;
}

